#calculator {
	margin: 0 auto;
	width: 290px;
	border: 1px solid lightgrey;
	padding: 10px;
	overflow: auto;
}

#screen {
	height: 60px;
	width:258px;
	padding: 0 10px;
	border: 1px solid black;
	margin:5px;
	line-height: 60px;
	display: table;
}

#screen p {
	text-align: right;
	display: table-cell;
	overflow: auto;
	max-width: 258px;
}

.btn {
	display: table;
	width: 60px;
	height: 60px;
	border: 1px solid black;
	margin: 5px;
	line-height: 60px;
	float: left;
}

.btn-long {
	width: 132px;
}

.btn p {
	display: table-cell;
	text-align: center;
}


.digit, .op, #equals {
	cursor: pointer;
}

.clear {
	clear: left;
}



